In [ ]:
#importing libraries 
import numpy as np 
import pandas as pd

In [3]:
# dataframe -> N-D array 
#making our own data frame
df= pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], columns =["A", "B", "C"])

In [6]:
# head() -> gives you the top 5 rows by default you can specify the numbr as well
# tail() -> gives the bottom 5 rows by default, here also you can specify the numb
df.head(2)

   A  B  C
0  1  2  3
1  4  5  6

In [7]:
df.tail(3)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [10]:
#to get a list of headers (columns)
df.columns

Index(['A', 'B', 'C'], dtype='str')

In [ ]:
#the value at the starting of each row is known as index (serial number /sequence)
df.index
#we can specify index as per our requirements just like we did column while initialising it

RangeIndex(start=0, stop=3, step=1)

In [12]:
#you can get a list of them by doing to list 
df.index.tolist()

[0, 1, 2]

In [13]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 204.0 bytes

In [14]:
df.describe()

         A    B    C
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0

In [16]:
#to get the number of unique values in each 
print(df.nunique())
#if you want number of unique values in a specific column
df["B"].nunique()

A    3
B    3
C    3
dtype: int64

3

In [ ]:
#gives the shape of the matrix/ dataframe
df.shape

(3, 3)