In [1]:
import pandas as pd

In [2]:
df= pd.read_csv('bios.csv')
df.head()

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25

In [3]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 145500 entries, 0 to 145499
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   athlete_id    145500 non-null  int64
 1   name          145500 non-null  str
 2   born_date     143693 non-null  str
 3   born_city     110908 non-null  str
 4   born_region   110908 non-null  str
 5   born_country  110908 non-null  str
 6   NOC           145499 non-null  str
 7   height_cm     106651 non-null  float64
 8   weight_kg     102070 non-null  float64
 9   died_date     33940 non-null   str
dtypes: float64(2), int64(1), str(7)
memory usage: 11.1 MB

FILTERING DATA

In [9]:
#athletes taller than 215 cm and born in usa 
df[(df["height_cm"] >215) & (df["born_country"] == "USA")]

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
5781,5804,Tommy Burleson,1952-02-24,Crossnore,North Carolina,USA,United States,223.0,102.0,NaN
6722,6755,Shaquille O'Neal,1972-03-06,Newark,New Jersey,USA,United States,216.0,137.0,NaN
6937,6972,David Robinson,1965-08-06,Key West,Florida,USA,United States,216.0,107.0,NaN
123850,126093,Tyson Chandler,1982-10-02,Hanford,California,USA,United States,216.0,107.0,NaN

In [ ]:
#names that start with keith 
df[df["name"].str.contains("Keith" , case = False)]
#you can do case = False whne you do not want anything to be case sensitive

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
1897,1907,Keith Hanlon,1966-09-01,NaN,NaN,NaN,Ireland,NaN,NaN,NaN
3505,3517,Keith Wallace,1961-03-29,Preston,England,GBR,Great Britain,165.0,51.0,1999-12-31
6228,6255,Keith Hartley,1940-10-15,Vancouver,British Columbia,CAN,Canada,200.0,85.0,NaN
8898,8946,Keith Mwila,1966-01-01,NaN,NaN,NaN,Zambia,NaN,NaN,1993-01-09
12053,12118,Keith Hervey,1898-11-03,Fulham,England,GBR,Great Britain,NaN,NaN,1973-02-22
...,...,...,...,...,...,...,...,...,...,...
109900,111105,Keith Cumberpatch,1927-08-25,Christchurch,Canterbury,NZL,New Zealand,NaN,NaN,2013-11-15
115973,117348,Keith Sanderson,1975-02-02,Plymouth,Massachusetts,USA,United States,183.0,95.0,NaN
117676,119195,Duncan Keith,1983-07-16,Winnipeg,Manitoba,CAN,Canada,185.0,88.0,NaN
122121,124176,Keith Ferguson,1979-09-07,Sale,Victoria,AUS,Australia,176.0,78.0,NaN
127310,129749,Tracy Keith-Matchitt,1990-03-30,Palmerston North,Manawatu-Wanganui,NZL,Cook Islands,167.0,60.0,NaN

In [14]:
#filtering names where it contains keith or patrick or adams
df[df["name"].str.contains("keith|patrick|adams", case = False)]

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
6,7,Patrick Chila,1969-11-27,Ris-Orangis,Essonne,FRA,France,180.0,73.0,NaN
119,120,Patrick Wheatley,1899-01-20,Vryheid,KwaZulu-Natal,RSA,Great Britain,NaN,NaN,1967-11-05
291,292,Maureen Adams,1937-08-27,NaN,NaN,NaN,Australia,169.0,68.0,2017-12-15
319,320,Patrick De Koning,1961-04-23,Dendermonde,Oost-Vlaanderen,BEL,Belgium,178.0,92.0,NaN
1897,1907,Keith Hanlon,1966-09-01,NaN,NaN,NaN,Ireland,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
143975,147633,Patrick Chinyemba,2001-01-03,NaN,NaN,NaN,Zambia,NaN,NaN,NaN
144172,147850,Patrick Jakob,1996-10-17,Sankt Johann in Tirol,Tirol,AUT,Austria,NaN,NaN,NaN
144547,148239,Patrick Galbraith,1986-03-11,Haderslev,Syddanmark,DEN,Denmark,NaN,NaN,NaN
144565,148257,Patrick Russell,1993-01-04,Gentofte,Hovedstaden,DEN,Denmark,186.0,93.0,NaN
145435,149158,Patrick Gasienica,1998-11-28,McHenry,Illinois,USA,United States,NaN,NaN,2023-06-12

In [15]:
#isin function has a list and check if any value of data frame is in the list 
# like any olympian born in use or france or ind 
df[df["born_country"].isin(['USA', "FRA", "IND"])]

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20
5,6,Nicolas Chatelain,1970-01-13,Amiens,Somme,FRA,France,181.0,70.0,NaN
...,...,...,...,...,...,...,...,...,...,...
145454,149180,Anna Hoffmann,2000-03-28,Madison,Wisconsin,USA,United States,NaN,NaN,NaN
145457,149183,Alix Wilkinson,2000-08-02,Mammoth Lakes,California,USA,United States,NaN,NaN,NaN
145467,149194,Elisa Nakab,1998-05-08,Briançon,Hautes-Alpes,FRA,Italy,NaN,NaN,NaN
145468,149195,Justin Abdelkader,1987-02-25,Muskegon,Michigan,USA,United States,187.0,97.0,NaN
145498,149225,André Foussard,1899-05-19,Niort,Deux-Sèvres,FRA,France,166.0,NaN,1986-03-18

In [17]:
#query functions 
df.query('born_country == "IND" and born_city == "Delhi"')

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
18676,18804,Robin Lindsay,1914-01-11,Delhi,National Capital Territory of Delhi,IND,Great Britain,NaN,NaN,2011-04-06
19047,19181,Michael Gateley,1904-06-13,Delhi,National Capital Territory of Delhi,IND,India,NaN,NaN,NaN
19053,19187,Arthur Hind,1904-10-20,Delhi,National Capital Territory of Delhi,IND,India,173.0,NaN,1991-11-20
19080,19214,Mirza Nasir-ud-Din Masood,1906-04-23,Delhi,National Capital Territory of Delhi,IND,India,NaN,NaN,1991-09-21
19102,19236,Jaswant Rajput,1926-01-01,Delhi,National Capital Territory of Delhi,IND,India,NaN,NaN,2015-01-28
19146,19281,Gindi Singh,1940-08-03,Delhi,National Capital Territory of Delhi,IND,India,171.0,65.0,2002-11-06
19173,19308,Randhir Singh Gentle,1922-09-22,Delhi,National Capital Territory of Delhi,IND,India Uganda,NaN,NaN,1981-09-25
19858,19998,Abdul Qayyum Khan,1922-01-01,Delhi,National Capital Territory of Delhi,IND,Pakistan,NaN,NaN,NaN
19861,20001,Aziz-ur Rehman,1923-01-01,Delhi,National Capital Territory of Delhi,IND,Pakistan,NaN,NaN,2014-01-01
19868,20008,Khawaja Muhammad Taqi,1918-01-01,Delhi,National Capital Territory of Delhi,IND,Pakistan,NaN,NaN,NaN
19872,20012,Habib Ali Kiddie,1929-12-07,Delhi,National Capital Territory of Delhi,IND,Pakistan,173.0,60.0,1987-01-01
34106,34370,Narinder Singh,1969-05-28,Delhi,National Capital Territory of Delhi,IND,India,NaN,NaN,2016-02-05
58278,58692,Parkash Gian,1937-06-19,Delhi,National Capital Territory of Delhi,IND,India,165.0,67.0,NaN
58300,58714,Prem Nath,1951-07-01,Delhi,National Capital Territory of Delhi,IND,India,160.0,57.0,2015-06-02
58321,58736,Malwa Singh,1946-03-20,Delhi,National Capital Territory of Delhi,IND,India,137.0,52.0,1990-04-27
70911,71443,Surat Singh,1930-08-22,Delhi,National Capital Territory of Delhi,IND,India,NaN,NaN,2021-06-11
80939,81590,Shailaja Kumar,1967-01-17,Delhi,National Capital Territory of Delhi,IND,India,NaN,NaN,NaN
99707,100506,Shiva Keshavan,1981-08-25,Delhi,National Capital Territory of Delhi,IND,Independent Olympic Athletes India,183.0,85.0,NaN
106916,108030,Sujeet Maan,1978-12-15,Delhi,National Capital Territory of Delhi,IND,India,167.0,74.0,NaN
107001,108119,Anuj Kumar,1980-08-05,Delhi,National Capital Territory of Delhi,IND,India,175.0,84.0,NaN
109714,110918,Neha Ahuja,1981-09-27,Delhi,National Capital Territory of Delhi,IND,India,162.0,54.0,NaN
115739,117106,Sandeep Kumar,1983-04-01,Delhi,National Capital Territory of Delhi,IND,Australia,176.0,84.0,NaN
128069,130575,Manika Batra,1995-06-15,Delhi,National Capital Territory of Delhi,IND,India,179.0,63.0,NaN