In [1]:
import pandas as pd

In [20]:
#reading a csv file
df=pd.read_csv('coffee.csv')
df

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [6]:
df.head()

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35

In [ ]:
#parquet file are used as they take less space so they improve speed and performance the downside 
#is that they are not very readable like csv or excels

In [7]:
#to get some random samples you can do 
df.sample(4)

         Day Coffee Type  Units Sold
12    Sunday    Espresso          45
9     Friday       Latte          35
3    Tuesday       Latte          20
7   Thursday       Latte          30

In [ ]:
#to access values
#loc -> filter by rows and columns. syntax: <df_name>.loc[rows ,columns_name]
df.loc[:3 , ["Day", "Units Sold"]]

       Day  Units Sold
0   Monday          25
1   Monday          15
2  Tuesday          30
3  Tuesday          20

In [ ]:
#iloc -> uses index instead of column names
#syntax: <df_name>.loc[rows ,columns_index]
df.iloc[5:9,[0,2]]

'''one difference between loc and iloc is that in loc the upper index of the row is inclusive 
but in iloc he uppper index ofrow is exclusive'''

         Day  Units Sold
5  Wednesday          25
6   Thursday          40
7   Thursday          30
8     Friday          45

In [ ]:
#we can change the index (serial number) of the dataframe and put it the same as any of the column

#for example putting day column as index 
df.index= df["Day"]
df.head()

                 Day Coffee Type  Units Sold  (1, Units Sold)
Day
Monday        Monday    Espresso          25               20
Monday        Monday       Latte          15               20
Tuesday      Tuesday    Espresso          30               20
Tuesday      Tuesday       Latte          20               20
Wednesday  Wednesday    Espresso          35               20

In [ ]:
#modifying values
df[1, "Units Sold"]= 20
df.head()

                 Day Coffee Type  Units Sold  (1, Units Sold)
Day
Monday        Monday    Espresso          25               20
Monday        Monday       Latte          15               20
Tuesday      Tuesday    Espresso          30               20
Tuesday      Tuesday       Latte          20               20
Wednesday  Wednesday    Espresso          35               20

In [21]:
#getting specifc values 
df.at[3,"Units Sold"]

np.int64(20)

In [22]:
#getting a specific column
df["Coffee Type"]

0     Espresso
1        Latte
2     Espresso
3        Latte
4     Espresso
5        Latte
6     Espresso
7        Latte
8     Espresso
9        Latte
10    Espresso
11       Latte
12    Espresso
13       Latte
Name: Coffee Type, dtype: str

In [ ]:
#sorting values by columns 
df.sort_values("Units Sold", ascending = False) #sorted in descending order acc to coffee sold

          Day Coffee Type  Units Sold
10   Saturday    Espresso          45
8      Friday    Espresso          45
12     Sunday    Espresso          45
6    Thursday    Espresso          40
4   Wednesday    Espresso          35
11   Saturday       Latte          35
13     Sunday       Latte          35
9      Friday       Latte          35
2     Tuesday    Espresso          30
7    Thursday       Latte          30
0      Monday    Espresso          25
5   Wednesday       Latte          25
3     Tuesday       Latte          20
1      Monday       Latte          15

In [ ]:
#sorting with multiple criterias 
df.sort_values(["Units Sold","Coffee Type"], ascending = [0,1]) 
#here in case of collission that two or moreunits sold rows are same it will jump to coffee type 
#to sort them out 
#0-> false (descending)
#1->true (ascending)

In [ ]:
#iterating the database using for loop 
for index, row in df.iterrows():
    print(index)
    print(row["Day"])
    print("\n")

0
Monday


1
Monday


2
Tuesday


3
Tuesday


4
Wednesday


5
Wednesday


6
Thursday


7
Thursday


8
Friday


9
Friday


10
Saturday


11
Saturday


12
Sunday


13
Sunday